/* Add this to your global styles or component-specific styles */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* or any initial position you desire */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* You can customize the duration and easing as needed */
.animate-fadeIn {
  animation: fadeIn 0.5s ease-out; /* Adjust duration and easing as needed */
}
